*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

*.mlse
*.mls
*.mlr
*.ko
test/**/*.ml
test/inference/**/*.mle

src/doc

src/parsing/pprint-20130324/src/_build
src/_build
src/joujou
src/parsing/lexer.ml
src/parsing/parser.ml

